{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Reading Lists for Ropan</h1>
    {% for alist in readinglist %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('readinglist.alist', list_id=alist.id) }}">{{ alist.bookname }}</a>
            </div>
            <p> <a class="mr-2">{{ alist.review }}</a></p>
            <b> ISBN: {{ alist.isbn }}, Library Id: {{ alist.libid }}</b>
          </div>
        </article>
    {% endfor %}
{% endblock content %}